body {
    margin: 0;
    background-color: lightgreen;
}

#kc-login-wrapper {
    background-color: pink;
}

#kc-form-box-wrapper {
    background-color: grey;
    width: 500px;
    margin: auto;
    padding: 20px;
}

#kc-header {
    background-color: black;
    margin-top: 200px;
    margin-bottom: 200px;
    text-align: center;
    color: white;
    text-transform: uppercase;
    font-size: 40px;
    font-family: 'roboto', 'sans-serif';
}

#kc-page-title {
    margin-top: 10px;
    text-align: center;
}